target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### Mac OS ###
.DS_Store

client_secret_787739668579-k08tm7ikrpurjee2ot0mrqk84212f88n.apps.googleusercontent.com.json
config.*
rusbonds-crawler.service
rusbonds-crawler.timer
logs/
dump/
tokens/
start_chrome_standalone.sh